
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("concert.jpeg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
background-color: lightblue;
}

h1 {
  font-size:300%;
    text-align: center;
  color: navy;
  margin-left: 20px;
}

h2 {
  font-size:160%;
  text-align: center;
  color: red;
  border: 1px solid darkblue;
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00ffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:tahoma;
}

li a:hover {
  background-color: #0000ff;
  }
