body {
background-color: lightblue;
}
p {
  text-align: center;
  color: red;
  border: 1px solid darkblue;
  padding: 30px;
}
h1 {
  color: navy;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00ffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:tahoma;
}

li a:hover {
  background-color: #00ffff;
  }
