body {
background-color: lightblue;
}
p {
  text-align: center;
  color: red;
  border: 1px solid darkblue;
  padding: 30px;
}
h1 {
  color: navy;
  margin-left: 20px;
}
a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

